# House Rent Prediction

by Md. Saif Ahammod Khan

### Import liberary

In [1]:
import pandas as pd
import numpy as np

### 1. Data Set 
We have collected two dataset from Bproperties
1. In BpropertyManualData.csv dataset we collected manually nearby educational istitute,Medical Service, Park and Resturent Information.
2. In BpropertyWebScrapping.csv We collected akk the house location in dhaka city

After Collecting all these two dataset we marged them and made a one singel dataset named "Primarydata"

In [6]:
#Load Manual Data
Manual_data = pd.read_csv('BpropertyManualData.csv') # raw_data is the panda's dataframe

# print the shape
print(Manual_data.shape)

#runs the first 5 rows
Manual_data.head()

(896, 5)

,Adress,Educational Institute,Restaurants,Medical Service,Parks
0,"1st Colony, Mirpur, Dhaka",28.0,12.0,24.0,16.0
1,"22 Bari, West Kazipara, Mirpur, Dhaka",47.0,50.0,6.0,18.0
2,"2nd Colony, Mirpur, Dhaka",15.0,24.0,2.0,13.0
3,"2nd Lane, Gopibag, Motijheel, Dhaka",9.0,15.0,1.0,17.0
4,"3rd Colony, Mirpur, Dhaka",24.0,29.0,5.0,12.0

In [7]:
#Load Web Scrapping Data Data
Webscrapped_data = pd.read_csv('BpropertyWebScrapping.csv') # raw_data is the panda's dataframe

# print the shape
print(Webscrapped_data.shape)

#runs the first 5 rows
Webscrapped_data.head()

(38189, 11)

,Brief,Link,Price,Adress,Type,Details,Beds,Bath,Size,Image Link,Image Link 2
0,"{""@context"":""https://schema.org"",""@type"":""Apar...",https://www.bproperty.com/en/property/details-...,45000,"Dhanmondi, Dhaka",Apartment,1616 Sq Ft Nice Apartment Is For Rent In Dhanm...,3.0,3.0,1616,NaN,NaN
1,"{""@context"":""https://schema.org"",""@type"":""Apar...",https://www.bproperty.com/en/property/details-...,25000,"Block I, Bashundhara R-A, Dhaka",Apartment,A Must See This Apartment For Rent Is All Set ...,3.0,4.0,1500,NaN,NaN
2,"{""@context"":""https://schema.org"",""@type"":""Resi...",https://www.bproperty.com/en/property/details-...,150000,"Sector 3, Uttara, Dhaka",Building,A 4500 Square Feet Full Building Ready For Ren...,5.0,5.0,4500,NaN,NaN
3,"{""@context"":""https://schema.org"",""@type"":""Apar...",https://www.bproperty.com/en/property/details-...,45000,"Block F, Bashundhara R-A, Dhaka",Apartment,Tastefully Designed This 3-Bedroom Apartment I...,3.0,3.0,1850,NaN,NaN
4,"{""@context"":""https://schema.org"",""@type"":""Apar...",https://www.bproperty.com/en/property/details-...,48000,"Sector 3, Uttara, Dhaka",Apartment,2700 Sq Ft Apartment Is Ready For Rent In Uttara,4.0,4.0,2700,"<source type=""image/webp"" srcSet=https://image...","<source type=""image/webp"" srcSet=https://image..."

In [8]:
#Merge Both Dataset
Primarydata = pd.merge(Webscrapped_data,Manual_data)
print(Primarydata.shape)
Primarydata.head

(38189, 15)

<bound method NDFrame.head of                                                    Brief  \
0      {"@context":"https://schema.org","@type":"Apar...
1      {"@context":"https://schema.org","@type":"Apar...
2      {"@context":"https://schema.org","@type":"Apar...
3      {"@context":"https://schema.org","@type":"Apar...
4      {"@context":"https://schema.org","@type":"Apar...
...                                                  ...
38184  {"@context":"https://schema.org","@type":"Apar...
38185  {"@context":"https://schema.org","@type":"Apar...
38186  {"@context":"https://schema.org","@type":"Apar...
38187  {"@context":"https://schema.org","@type":"Apar...
38188  {"@context":"https://schema.org","@type":"Apar...

                                                    Link   Price  \
0      https://www.bproperty.com/en/property/details-...   45000
1      https://www.bproperty.com/en/property/details-...   75000
2      https://www.bproperty.com/en/property/details-...  120000
3      https://www.bproperty.com/en/property/details-...   52500
4      https://www.bproperty.com/en/property/details-...   30000
...                                                  ...     ...
38184  https://www.bproperty.com/en/property/details-...   10000
38185  https://www.bproperty.com/en/property/details-...    8000
38186  https://www.bproperty.com/en/property/details-...    9000
38187  https://www.bproperty.com/en/property/details-...    8500
38188  https://www.bproperty.com/en/property/details-...    9000

                                                  Adress       Type  \
0                                       Dhanmondi, Dhaka  Apartment
1                                       Dhanmondi, Dhaka  Apartment
2                                       Dhanmondi, Dhaka  Apartment
3                                       Dhanmondi, Dhaka  Apartment
4                                       Dhanmondi, Dhaka  Apartment
...                                                  ...        ...
38184  Block C, Dakkhin Paikpara, Paikpara, Mirpur, D...  Apartment
38185                 Kalibari, Rajarbag, Bashabo, Dhaka  Apartment
38186                    Hijla, Amin Bazar, Savar, Dhaka  Apartment
38187                  Ahmednagar, Sarulia, Demra, Dhaka  Apartment
38188                            Lalkuthi, Mirpur, Dhaka  Apartment

                                                 Details  Beds  Bath  Size  \
0      1616 Sq Ft Nice Apartment Is For Rent In Dhanm...   3.0   3.0  1616
1      Impressive Apartment Of 3132 Sq Ft Is Up For R...   4.0   4.0  3132
2      A Ready 1800 Sq. ft Full Furnished Apartment F...   3.0   4.0  1800
3      This Wonderful Flat Is Set For Rent With An Am...   3.0   3.0  1300
4      Positioned At Dhanmondi, Road No 8a, 1250 Sq F...   3.0   3.0  1250
...                                                  ...   ...   ...   ...
38184  In Dakkhin Paikpara, This 600 Sq Ft Residence ...   2.0   1.0   600
38185  A 600 Sq Ft Flat Can Be Found In Rajarbag For ...   2.0   1.0   600
38186  In This Serene Neighborhood Of Amin Bazar A 80...   3.0   1.0   800
38187  Be the resident of a 750 SQ FT residential fla...   3.0   2.0   750
38188    Ready home 550 SQ FT is now to Rent in Lalkuthi   2.0   1.0   550

                                              Image Link  \
0                                                    NaN
1      <source type="image/webp" srcSet=https://image...
2      <source type="image/webp" srcSet=https://image...
3      <source type="image/webp" srcSet=https://image...
4      <source type="image/webp" srcSet=https://image...
...                                                  ...
38184  <source type="image/webp" srcSet=https://image...
38185  <source type="image/webp" srcSet=https://image...
38186  <source type="image/webp" srcSet=https://image...
38187  <source type="image/webp" srcSet=https://image...
38188  <source type="image/webp" srcSet=https://image...

                                            Image Link 2  \
0                                                    NaN
1      <source type="image/webp" srcSet=https://image...
2      <source type="image/webp" srcSet=https://image...
3      <source type="image/webp" srcSet=https://image...
4      <source type="image/webp" srcSet=https://image...
...                                                  ...
38184  <source type="image/webp" srcSet=https://image...
38185  <source type="image/webp" srcSet=https://image...
38186  <source type="image/webp" srcSet=https://image...
38187  <source type="image/webp" srcSet=https://image...
38188  <source type="image/webp" srcSet=https://image...

       Educational Institute  Restaurants  Medical Service  Parks
0                       50.0         50.0             20.0   50.0
1                       50.0         50.0             20.0   50.0
2                       50.0         50.0             20.0   50.0
3                       50.0         50.0             20.0   50.0
4                       50.0         50.0             20.0   50.0
...                      ...          ...              ...    ...
38184                   50.0         27.0              6.0    8.0
38185                   32.0         24.0              6.0   27.0
38186                    1.0          0.0              0.0    0.0
38187                    0.0          0.0              0.0    2.0
38188                    9.0         12.0              6.0    8.0

[38189 rows x 15 columns]>

"Primarydata" Now our primary dataset is ready now it is time for some preprocessing and drop all the unnecessary data like image link, large catagorical details etc.

### 2. Preprocessing
Here we have droped the following unnecessary features and we have sorted the address a little bit.

1. Brief 	
2. Link
3. Details
4. Image Link
5. Image Link 2

### 3. Exploratory Data

### 4. Data Cleaning

### 5. Data Encode

### 6. Features Selection

### 7. Data Split

### 8. Data Scaling

### 9. Train Model